<div style="margin: 0 auto; text-align: center;" [ngClass]="(getIsMobile()==true)?'mobile_width':'desktop_width'" [hidden]="getLanguage()=='TR'">

<mat-tab-group md-stretch-tabs="always" >
	<mat-tab label="TOOLKITS" >
		<br>
		<p>Our project has produced a series of practical toolkits for heritage professionals, municipalities, NGOs and community stakeholders. They are visible below or downloadable from the PDF link.</p>
		<br>
		<div id= "tags" style="margin: 0 auto; width:70%">
			<div  *ngFor="let pdf of PDFS ;  let i=index" class="stay_inline " (click)="setCurrentPDF(i)" > 
				<div class="tifdf_word tag" > {{pdf.title.toUpperCase()}} </div> 
				<!-- {{word.word.toUpperCase()}} -->
			</div>
			<br>
			<p *ngIf="showPDFs" >Download the PDF <a  href="{{PDFS[currentPDF].url}}" download  onclick="__gaTracker('toolkit', 'downloaded', 'download', '1');">here</a></p>
			<pdf-viewer *ngIf="showPDFs" src="{{PDFS[currentPDF].url}}"></pdf-viewer>

		</div>
	</mat-tab>

	<mat-tab label="PUBLICATIONS">
		<br><br>
		
		<div style="text-align: left;">
			<div *ngFor="let item of GTRData">
				<div style='font-weight: bold' >{{item.title + ', '+getDateFromTimeStamp(item.datePublished)}} </div>
				<div >{{item.author}}</div>
				<div >{{item.type}}</div>
				<div >{{item.journalTitle}} . {{item.issue}}</div>
				<div >{{item.doi}} </div>
				<div >ISSN: {{item.issn}}</div>
				
				
			</div>
		</div>
	</mat-tab>
	<mat-tab label="RESEARCH METHODS">

	</mat-tab>

</mat-tab-group>
</div>

<div style="margin: 0 auto; " [ngClass]="(getIsMobile()==true)?'mobile_width':'desktop_width'" [hidden]="getLanguage()=='EN'">

<mat-tab-group md-stretch-tabs="always" >
	<mat-tab label="KİTAPÇIK DİZİSİ" >
		<br>
		<p>Projemizin en önemli çıktılarından biri, proje sırasında elde ettiğimiz bulgulara ve gözlemlere dayanarak farklı başlıklar altında hazırladığımız kitapçık dizisidir. Kültürel miras konularında çalışan uzmanlara, belediyelere, sivil toplum örgütlerine ve başka toplum paydaşlarına yönelik olarak hazırladığımız bu kitapçık dizisinin başlıkları aşağıda listelenmiştir ve PDF dökümanı olarak indirilebilmektedir.</p>
		<br>
		<div id= "tags" style="margin: 0 auto; width:70%">
			<div  *ngFor="let pdf of PDFS_TR ;  let i=index" class="stay_inline " (click)="setCurrentPDF(i)" > 
				<div class="tifdf_word tag" > {{pdf.title.toUpperCase()}} </div> 
				<!-- {{word.word.toUpperCase()}} -->
			</div>
			<br>
			<p *ngIf="showPDFs" >PDF <a  href="{{PDFS_TR[currentPDF].url}}" download onclick="__gaTracker('toolkit', 'downloaded', 'download', '1');">here</a></p>
			<pdf-viewer *ngIf="showPDFs" src="{{PDFS_TR[currentPDF].url}}"></pdf-viewer>

		</div>
	</mat-tab>

	<mat-tab label="YAYINLAR">
		<br><br>
		
		<div style="text-align: left;">
			<div *ngFor="let item of GTRData">
				<div style='font-weight: bold' >{{item.title + ', '+getDateFromTimeStamp(item.datePublished)}} </div>
				<div >{{item.author}}</div>
				<div >{{item.type}}</div>
				<div >{{item.journalTitle}} . {{item.issue}}</div>
				<div >{{item.doi}} </div>
				<div >ISSN: {{item.issn}}</div>
				
				
			</div>
		</div>
	</mat-tab>
	<mat-tab label="ARAŞTIRMA YÖNTEMLERİ">

	</mat-tab>

</mat-tab-group>
</div>
