#articleTitle{
	font-weight: bold;
	font-size: 16pt;
}
#tags{
	border-top: 2px solid;

	margin-top: 10px;
	padding-top: 2%;
	padding-bottom: 2%;
}
.tifdf_word{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}
.tag:hover{
	background-color: DarkCyan;
	color:white;
}