<div style="margin: 0 auto;  text-align: center; " [ngClass]="(getIsMobile()==true)?'mobile_width':'desktop_width'" [hidden]="getLanguage()=='TR'">

  <mat-tab-group md-stretch-tabs="always">
    <mat-tab label="SEARCH">
      <h2>search for words in our co-production videos</h2>
      <p>Enter text in the box below to search our entire collection of co-produced videos. <br>The search will include all text from the subtitles and you can see the resulting quotes below and click to watch the relevant section.
      </p>
      <label id="searchArea">search the videos:
        <input #myInput [(ngModel)]="searchterm" (ngModelChange)="navigate($event)" >
      </label>
      <br>
      <br>



      <!-- <app-video-holder></app-video-holder> -->
      <div id= "tags" style="margin: 0 auto; width:100%">
        <div  *ngFor="let word of tfidf | shuffle ;  let i=index" class="stay_inline " (click)="setSearchAsTag(word.word)" > 
         <div class="tifdf_word tag" *ngIf="i<22" (click)="setSearchAsTag()"> {{word.word.toUpperCase()}} </div> 
         <!-- {{word.word.toUpperCase()}} -->
       </div>
     </div>

     <div class="videos" [hidden]="searchterm.length<1">
      <div class="videoElement" *ngFor="let video of filteredVideos; let i = index">
        <h2  class="name">{{video.participant_name.toUpperCase()}} </h2>
        <h3> {{video.activity.toLowerCase() }}</h3>
        <iframe #elem [attr.id]="video.id" *ngIf="video.show" class="e2e-iframe-trusted-src" width="100%" #searchVid [style.height.px]="searchVid.getBoundingClientRect().width * 9/16"  [src]="getVideoUrl(video)"></iframe>
        <!-- <div *ngFor="let sub of video.subs"> {{getMatchingFirst(sub.text)}}</div> -->
        <!-- <pre style="font-family:arial"> {{getMatchingSub(video.subs).sub}} {{getMatchingSub(video.subs).timecode}}</pre> -->
        <div  class="sub" *ngFor="let sub of getMatchingSubObject(video.subs)" (click)="onSubClicked(sub.timecode, video,i)"> [...] {{sub.text}} </div><br><br>

  <!--     <div *ngFor="let sub of video.subs">
      	<span >{{sub.text}}</span> 
      </div> -->
    </div>
  </div>
  <!-- <div style="height: 30px"></div> -->

</mat-tab>
<mat-tab label="THEMES">
  <h2>explore themes in our co-production videos</h2>

  <p>Filming walks around the Land Walls saw a number of themes emerge from people's stories. <br>Click on a theme below and watch the video.
  </p>
  <br>
  <div  *ngFor="let word of mapData | shuffle  ;  let i=index" class="stay_inline " (click)="getVideoForTitle(word.vimeoID,word.time)" > 

    <div class="tifdf_word tag" *ngIf="i<22" > {{word.title.toUpperCase()}} </div> 

    


  </div>
  <br><br>
  <iframe #elem [attr.id]="" *ngIf="showVideo" class="e2e-iframe-trusted-src" width="98%" #themeVid [style.height.px]="themeVid.getBoundingClientRect().width * 9/16"  [src]="getCurrentVideoURL()"></iframe>

</mat-tab>

<mat-tab label="VIDEOS">
  <h2>watch the short films made with participants to our research project</h2>
  <p>
    Our project co-produced a series of over thirty short films with local residents.
    They responded to a set of creative challenges devised by the researchers included identifying lost sounds of the past and even writing a letter to the Walls, as if they were a person. By framing the films this way, we hoped to encourage imaginative, speculative, personal stories about the past. 

  </p>
<!--   <div class="videos">
    <div class="videoElement" *ngFor="let video of expandedVideoswq; let i = index">

    <iframe #elem [attr.id]="video.id" class="e2e-iframe-trusted-src" width="640" height="390" [src]="getVideoUrl(video)"></iframe>

    </div>
  </div> -->
  <iframe src="https://vimeo.com/album/5262750/embed" width="100%" #albumVid [style.height.px]="albumVid.getBoundingClientRect().width * 9/16"  allowfullscreen frameborder="0"></iframe>

  <p style="margin-bottom:130px">

    These films were co-produced by local residence in collaboration with two professional film crews. They were:<br><br>
    Crew 1:<br>
    Camera:Cem Hakverdi <br>
    Director: Cem Hakverdi <br>
    Editing: Cem Hakverdi <br>
    Sound Burçin Aktan<br>
    <br><br>
    Crew 2:<br>
    Camera: Ali Ergül, Goncagül Gümüş<br>
    Director: Goncagül Gümüş, Ali Ergül, <br>
    Editing: Engin Güneşoğlu<br>

    <br><br>
    Film Research Development: Dan Foster Smith, Tom Schofield
  </p>
</mat-tab>
<mat-tab label="PHOTOS">
  <p>Our entire collection of project photos are available free to download from the project flickr <a href="https://www.flickr.com/photos/137179301@N08/page1">here</a>. 
  </p>
  <div id="photos_container">
    <div *ngFor="let photo of photos" class="photo stay_inline">

      <!-- img{{photo.title}} -->
      <img style="height:300px"  class="photo" [src]="photo.url">
    </div>
  </div>

</mat-tab>

<mat-tab label="MAPS">
  <h2>explore the Walls through our interactive maps</h2>


  <div  *ngFor="let map of mapStories ;  let i=index" class="stay_inline " (click)="setActiveMap(map.url)" > 

    <!-- <div class="tifdf_word tag" *ngIf="i<22" > {{map.title.toUpperCase()}} </div>  -->

    


  </div>
  <br>
  <br>
  <!-- <iframe style='width:100%; height:800px' src="https://arcg.is/151SGO"></iframe> -->
  <iframe *ngIf="showMap" #elem [attr.id]="1" class="e2e-iframe-trusted-src" width="100%" #gis [style.height.px]="gis.getBoundingClientRect().width * 9/16"  [src]="getCurrentMapURL()"></iframe>

</mat-tab>
</mat-tab-group>
</div>


<div style="margin: 0 auto;  text-align: center;" [ngClass]="(getIsMobile()==true)?'mobile_width':'desktop_width'" [hidden]="getLanguage()=='EN'">

  <mat-tab-group md-stretch-tabs="always">
    <mat-tab label="ARAMA">
      <h2>birlikte üretim videolarında aşağıdaki kelimeleri arayabilirsiniz</h2>
      <p>Arama altyazılardaki tüm metni içerecektir. Çıkan sonuçlardan alıntıları görebilir ve ilgili bölümü izlemek için tıklayabilirsiniz.</p>
      <label id="searchArea">video arama:
        <input #myInput [(ngModel)]="searchterm" (ngModelChange)="navigate($event)" >
      </label>
      <br>
      <br>



      <!-- <app-video-holder></app-video-holder> -->
      <div id= "tags" style="margin: 0 auto; width:100%">
        <div  *ngFor="let word of tfidf_tr | shuffle ;  let i=index" class="stay_inline " (click)="setSearchAsTagTr(word.word)" > 
         <div class="tifdf_word tag" *ngIf="i<22" (click)="setSearchAsTagTr()"> {{word.word.toUpperCase()}} </div> 
         <!-- {{word.word.toUpperCase()}} -->
       </div>
     </div>

     <div class="videos" [hidden]="searchterm.length<1">
      <div class="videoElement" *ngFor="let video of filteredVideosTr; let i = index">
        <h2  class="name">{{video.participant_name.toUpperCase()}} </h2>
        <h3> {{video.activity.toLowerCase() }}</h3>
        <iframe #elem [attr.id]="video.id" *ngIf="video.show" class="e2e-iframe-trusted-src" width="100%" #themeVidTR [style.height.px]="themeVidTR.getBoundingClientRect().width * 9/16" [src]="getVideoUrl(video)"></iframe>
        <!-- <div *ngFor="let sub of video.subs"> {{getMatchingFirst(sub.text)}}</div> -->
        <!-- <pre style="font-family:arial"> {{getMatchingSub(video.subs).sub}} {{getMatchingSub(video.subs).timecode}}</pre> -->
        <div class="sub" *ngFor="let sub of getMatchingSubObject(video.subs)" (click)="onSubClicked(sub.timecode, video,i)"> [...] {{sub.text}} </div><br><br>

  <!--     <div *ngFor="let sub of video.subs">
        <span >{{sub.text}}</span> 
      </div> -->
    </div>
  </div>

</mat-tab>
<mat-tab label="KONULAR">
  <h2>birlikte üretim videolarını farklı konulara göre keşfedin</h2>
  <p>
    Kara Surları çevresinde mahallelilerle yaptığımız video çekimleri sırasında onların anlatı ve hikayelerinden çok farklı konu başlıkları ortaya çıktı. Aşağıdaki başlıklara tıklayarak ilgili videoları izleyebilirsiniz.
  </p>>
  <div  *ngFor="let word of mapTrData | shuffle ;  let i=index" class="stay_inline " (click)="getVideoForTitle(word.vimeoID,word.time)" > 

    <div class="tifdf_word tag" *ngIf="i<22" > {{word.title.toUpperCase()}} </div> 

    


  </div>
  <br><br>
  <iframe #elem [attr.id]="" *ngIf="showVideo" class="e2e-iframe-trusted-src" width="98%" #vidgroup [style.height.px]="vidgroup.getBoundingClientRect().width * 9/16"  [src]="getCurrentVideoURL()"></iframe>

</mat-tab>

<mat-tab label="VİDEOLAR">
  <h2>­katılımcılarla çektiğimiz kısa videoları izleyin</h2>
  <p style="margin-bottom:130px">
    Projemizin bir başka önemli çıktısı da mahalle sakinleriyle ürettiğimiz otuzdan fazla kısa video. Video çekimleri sırasında araştırma ekibimiz yaratıcı bazı teknikler kullanarak katılımcılardan, örneğin, geçmişe ait kaybolan sesler varsa bunları anlatmalarını ya da Surları bir canlı yerine koyarak onlara bir mektup yazmalarını istedi. Video çekimlerini bu şekilde kurgulamadaki amacımız geçmişle ilgili düşsel, spekülatif ve kişisel bazı hikayelerin ortaya çıkmasını sağlamaktı.<br><br>
    <iframe src="https://vimeo.com/album/5262750/embed" width="100%" #vidgrouptr [style.height.px]="vidgrouptr.getBoundingClientRect().width * 9/16"  allowfullscreen frameborder="0"></iframe><br>
    Bu videolar iki profesyonel film ekibi tarafından çekildi:<br>

    Ekip 1:<br>
    Kamera:Cem Hakverdi <br>
    Yönetmen: Cem Hakverdi <br>
    Düzenleme: Cem Hakverdi <br>
    Ses: Burçin Aktan<br>
    <br>

    Ekip 2:<br>
    Kamera: Ali Ergül, Goncagül Gümüş<br>
    Yönetmen: Goncagül Gümüş, Ali Ergül, <br>
    Düzenleme: Engin Güneşoğlu<br>
    <br>

    Video Çekimi Araştırma ve Geliştirme: Dan Foster Smith, Tom Schofield
  </p>
<!--   <div style="margin-bottom:130px"></div>
 --><!--   <div class="videos">
    <div class="videoElement" *ngFor="let video of expandedVideoswq; let i = index">

    <iframe #elem [attr.id]="video.id" class="e2e-iframe-trusted-src" width="640" height="390" [src]="getVideoUrl(video)"></iframe>

    </div>
  </div> -->

</mat-tab>
<mat-tab label="FOTOĞRAFLAR">
  <div id="photos_container">
    <p>Tüm proje fotoğrafları, projenin flickr sitesinden ücretsiz olarak <a href="https://www.flickr.com/photos/137179301@N08/page1">indirilebilir</a>.</p>
    <div *ngFor="let photo of photos" class="photo stay_inline">

      <!-- img{{photo.title}} -->
      <img style="height:300px"  class="photo" [src]="photo.url">
    </div>
  </div>

</mat-tab>

<mat-tab label="HARİTALAR">
  <h2>İnteraktif haritalarımız aracılığıyla Surları keşfedin</h2>


  <div  *ngFor="let map of mapStories ;  let i=index" class="stay_inline " (click)="setActiveMap(map.url)" > 

    <!-- <div class="tifdf_word tag" *ngIf="i<22" > {{map.title.toUpperCase()}} </div>  -->

    


  </div>
  <br>
  <br>
  <!-- <iframe style='width:100%; height:800px' src="https://arcg.is/151SGO"></iframe> -->
  <iframe *ngIf="showMap" #elem [attr.id]="1" class="e2e-iframe-trusted-src" width="100%" height="800px" [src]="getCurrentMapURL()"></iframe>

</mat-tab>
</mat-tab-group>
</div>
